/* entire content */

body {
  background: #89ADAF;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
}
.link {
  text-decoration: none;
  color: #D2A784;
}

.linkicon {
  text-decoration: none;
  color: #1A2C58;
}

/* navbar */

.header{
  position: static;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #1A2C58;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 28px;
}

.title{
  font-weight: bold;
}

Button.link{
  color: #D2A784;
  font-size: 28px;
  font-family: Rubik;
  font-style: normal;
  text-transform:capitalize; 

}


/* homepage decoration */
.homepage {
  height: 80vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.search-input{
  width: 900px;
  height: 80px;
  font-size: 28px;
  border-radius: 10px;
  padding-left: 20px;
  flex: 1;

}

Button.alllib{
  margin-top: 30px;
  padding: 10px;
  background-color: #1A2C58;
  color: #D2A784;
  font-size: 22px;
  font-family: Rubik;
  font-style: normal;
  text-transform:capitalize;
}

Button.alllib:hover{
  background-color: #1A2C58 
}

.search-icon{
  border: none;
  margin-left: -90px;
  color: #1A2C58
}



/* add library design */

#add-library, #add-book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-title{
  color: #1A2C58;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 28px;
}

#add-library-form, #add-book-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  display: flex;
}

.field{
  margin: 30px;
}

label.liblabel{
  color: #1A2C58;
  font-size: 28px;
}

input.libfield{
  width: 90%;
  padding-left: 10px;
  border: none;
  border-bottom: 2px solid black;
  height: 40px;
  font-size: 26px;
  color: #1A2C58;
}

input.libfield:focus{
  outline: none;
}

input.libfield-mem{
  border: 1px solid #1A2C58;
  width: 100px;
  height:30px;
  margin-left: 10px;
  font-size: 26px;
  color: #1A2C58;
}

input.libfield-mem:focus{
  outline: none;
}

/* Register and Login */
#register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#register-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  display: flex;
}

.red-text{
  color: red;
  font-size: 28px;
}

#login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 70%;
  display: flex;
}

/* Search Result */

#search-result{
  margin: 20px;
}

#search-input{
  width: 95%;
  height: 60px;
  margin-bottom: 20px;
}

.result{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 20px;
  overflow-y: scroll;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #1A2C58;
  font-size: 28px;
}

.action{
  display: flex;
  margin-right: 80px;
  justify-content: center;
  align-items: center;
}

Button.info{
  border: 1px solid #1A2C58;
  color: #1A2C58;
  font-size: 22px;
  text-transform: capitalize;

}

/*library-details */

.lib-details, .book-details{
  background-color: white;
  overflow-y: hidden;
  display: flex;
  height: 70vh;
  width: 90%;
  margin: 30px;
  padding: 20px;
  justify-content: flex-start;
  border-radius: 10px;
}
.lib-info, .book-info{
  font-size: 28px;
  color: #1A2C58;
  padding-left: 20px;
}

.allbook-lib, .alllib-book{
  margin-left: 300px;
  padding-right: 60px;
  padding-bottom: 20px;
  font-size: 28px;
  color:#1A2C58;
  overflow-y: scroll;
}

.book-detail-lib, .lib-detail-book{
  color: #1A2C58;
  margin-bottom: 20px;
  margin-top: 20px;
}

Button.remove{
  margin-left: 30px;
}

.headTitle{
  color: #1A2C58;
  font-size: 28px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#info{
  border: 1px solid #1A2C58;
  color: #1A2C58;
  font-size: 22px;
  text-transform: capitalize;
  margin-left: 10px;
}

Button.add{
  margin-left: 50px;
}

.owner{
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #1A2C58;
}

/* Profile */

.profilepage{
  margin: 0 300px;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color:#1A2C58;
  padding: 20px;
}

.header-title{
  font-size: 28px;
  margin: 20px;
  display: flex;
  justify-content: center;
  color: #1A2C58;
}

#currency{
  font-size: 28px;
  color: #1A2C58;
}


/* Dashboard */
#removeLibBtn{
  margin-left: 20px;
}



