/* entire content */

body {
  background: #ffffff;
  margin: 0 auto;
  font-family: 'Comfortaa', cursive;
  font-size: 28px;
}
.link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: row;
}

/* navbar */

.title {
  text-decoration: none;
  color: #FF7D00;
}

.header{
  background: #FF7D00;
  color: #ffffff;
  position: fixed;
  z-index: 1;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.menu-button{
  background-color: white;
  color:  #FF7D00;
  padding: 15px;
  font-size: 2.0vw;
  width: 100%;
  height: 10vh;
  border: 1px solid #FF7D00;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-items{
  display: flex;
  height: 90vh;
  font-size: 2.5vh;
  color: white;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-start;
  align-content: flex-start;
}

.menu{
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-evenly;
}

.title{
  font-weight: bold;
}
i{
  cursor: pointer;
}



/* homepage decoration */
.homepage {
  margin-left: 250px;
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-section{
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  width: 60vw;
  height: 10vh;
  padding-left: 20px;
  background: #FFFEFE;
  border: 1px solid #FF7D00;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: start;
  font-size: 2.0vw;
  font-family: 'Comfortaa', cursive;
}
.search-input::placeholder{
  color: #c9c9c9;
  text-align: start;
  font-size: 2.0vw;
  font-family: 'Comfortaa', cursive;
}

/* disable focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* search result */

.loading{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.search-box{
  margin: 20px;
}

.result{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FF7D00;
  padding: 10px;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 1.8vw;
  color: #FF7D00;
}
.content{
  color: black;
}

.info {
  border: 1px solid #FF7D00;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  color: #FF7D00;
  font-size: 1.4vw;
}

/* Book details */

.book-info{
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 100px;
}

.book-title {
  text-transform: capitalize;
  color: #FF7D00;
  margin-bottom: 80px;
}

.available{
  color:#FF7D00;
  margin-bottom: 20px;
}


.alllib-book {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  width: 60vw;
  justify-content: space-between;
}

.lib-book{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #FF7D00;
}

.action-book{
  border: 1px solid #FF7D00;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}

.lib-detail-book {
  display: flex;
  flex-direction: column;
  color: black;
}

.link2 {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

/* all libraries */

.alllibraries{
  color: #FF7D00;
  margin-top: 50px;
  padding: 20px;
}

.library-detail{
  color: #000000;
}

.libraries-list {
  width: 70vw;
}

.remove{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.more {
  display: flex;
  justify-content: center;
}

.add-icon {
  color: #FF7D00;
}

.lib-header{
  display: flex;
  margin-top: 50px;
  margin-left: 20px;
  color:#FF7D00; 
}

.lib-title{
  margin-right: 20px;
}

/* add library */
#add-form{
  margin-top: 50px;
  margin-left: 20px;
}

.create-title{
  color: #FF7D00;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 80px;
  text-transform: capitalize;
}

#add-library-form{
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.create-form{
  width: 30vw;
  margin-bottom: 50px;
  background: #FFFEFE;
  border: none;
  border-bottom: 1px solid #FF7D00;
  text-align: start;
  font-size: 2.0vw;
  font-family: 'Comfortaa', cursive;
  padding: 10px;
}

.create-form::placeholder{
  color: #c9c9c9;
  text-align: start;
  font-size: 2.0vw;
  font-family: 'Comfortaa', cursive;
}

#auth-form{
  display: flex;
  width: 70vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-error{
  color: red;
  text-align: center;
}

/* library detail */

.owner {
  border: none;
  border: 1px solid #FF7D00;
  padding: 10px;
  color: #FF7D00;
  font-size: 1.4vw;
  padding: 3px;
}
.lib-more{
  margin-right: 20px;
}

.add-book{
  margin-top: 100px;
}

.lib-info{
  display: flex;
}
#add-book-form{
  display: flex;
  flex-direction: column;

}
#add-book{
  margin-left: 200px;
}

.header-title{
  color: #FF7D00;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;

}

.profilepage{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.about{
  display: flex;
  flex-direction: column;
}

.about-title{
  color: #FF7D00;
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 50px;
}
.about-content{
  margin-left: 30px;
  display: flex;
  justify-content: center;
}

#all-content{
  margin-left: 350px;
}
#all-libraries{
  margin-left: 350px;
}

#add-form{
  margin-left: 350px;
}